
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-battery-status"
        version="2.0.4-dev">
    <name>Radar</name>
    <description>Cordova Battery Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,radar-base</keywords>
    <repo>https://github.com/RADAR-base/radar-prmt-cordova</repo>
    <issue>https://github.com/RADAR-base/radar-prmt-cordova</issue>

    <engines>
        <engine name="cordova" version=">=10.0.0"/>
        <engine name="cordova-android" version=">=9.0.0"/>
    </engines>


    <js-module src="www/js/index.js" name="radar-prmt">
        <clobbers target="navigator.radar-prmt" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="RadarPlugin" >
                <param name="android-package" value="org.radarbase.cordova.prmt.RadarPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/RadarPlugin.kt" target-dir="src/org/radarbase/cordova/prmt/RadarPlugin.kt" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Battery">
                <param name="ios-package" value="CDVBattery" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVBattery.h" />
        <source-file src="src/ios/CDVBattery.m" />
    </platform>

    <!-- windows -->
    <platform name="windows">
        <js-module src="src/windows/BatteryProxy.js" name="Battery">
            <runs />
        </js-module>

        <framework src="src/windows/BatteryStatus.winmd" custom="true" target="phone"/>
    </platform>

    <!-- browser -->
    <platform name="browser">
        <js-module src="src/browser/BatteryProxy.js" name="Battery">
            <runs />
        </js-module>
    </platform>
</plugin>
